# Use the default C++ toolchain to build the tools used during the
# build.
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build --enable_platform_specific_config

# Platform specific configuration.
build:linux --linkopt=-lm
build:linux --cxxopt=-std=c++20

build:macos --macos_minimum_os=12.0
build:macos --linkopt=-lm
build:macos --cxxopt=-std=c++20

build:windows --cxxopt=/std:c++20
build:windows --host_cxxopt=/std:c++20

startup --windows_enable_symlinks
